body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

table.bordered > tbody > tr > th, td {
	border-radius: 0px; /* materialize likes to add 2px radius which creates annoying notches on table cells */
}

.text-overflow-row {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 0;
}

.collapsible-body-table {
	padding: 0px;
}


.card-panel {
	padding: 18px;
}

.card .card-content {
	padding: 18px;
}

@media only screen and (max-width: 600px) { /* don't waste space on mobile */
	.container {
		width: 98%;
	}
}

.link-table-cell {
	padding: 0; /* remove default padding to allow block to fill the cell */
}

td.link-table-cell a {
	display: block;
	padding: 15px 5px; /* replicate normal materialize cell padding */
	color: black;
}
