<!DOCTYPE html>
<html lang="en" dir="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="keywords" content="PocketMine,PocketMine-MP,crash,archive,bug"/>
        <meta name="description" content="Crash Archive and classifier for PocketMine"/>
        <meta name="language" content="en"/>
        <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
        <title>{{template "title" .}}</title>
        <link rel="shortcut icon" href="http://cdn.pocketmine.net/favicon.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

        <link href="/css/font-awesome.min.css" rel="stylesheet" >
        {{ template "head" .}}
    </head>

    <body>
            {{ template "menu.html" . }}


            {{template "content" .}}

            {{template "foot" .}}

        {{ template "footer.html" .}}
