<!DOCTYPE html>
<html lang="en" dir="auto">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=yes">
        <meta name="keywords" content="PocketMine,PocketMine-MP,crash,archive,bug"/>
        <meta name="description" content="Crash Archive and classifier for PocketMine"/>
        <meta name="language" content="en"/>
        <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
        <meta property="twitter:account_id" content="1510082350"/>
        <title>{{template "title" .}}</title>
        <link rel="shortcut icon" href="//cdn.pocketmine.net/favicon.png"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link href="/css/style.css" rel="stylesheet">

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        {{ template "head" .}}
    </head>

    <body>
        <div class="container">
            <div class="header">
                {{ template "menu.html" . }}
            </div>

            {{template "content" .}}

            {{template "foot" .}}
        </div>

        {{ template "footer.html" .}}
    </body>
</html>
