    <div class="footer">
        <p>The old PocketMine Crash Archive is open-source. <a href="https://github.com/PocketMine/Crash-Archive" target="_blank">Check it on Github</a></p>
    </div>

</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
