{{define "title"}}PocketMine Crash Archive{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <div class="jumbotron">
        <h1>Crash Report Submission</h1>
        <p class="lead">
            Here you can submit your crash reports. They will be classified, allowing the development team
            to fix them easily and help Plugin developers correct errors in their creations.
            Personal information is hidden by default.
        </p>
        <p><a class="btn btn-lg btn-success" href="/submit" role="button">Submit report</a></p>
    </div>
{{end}}
{{define "foot"}}{{end}}
