{{define "title"}}PocketMine Crash Archive{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
    <h1 class="header center orange-text">Crash Report Submission</h1>
    <div class="row center">
        <h5 class="header col s12 light">Here you can submit your crash reports. They will be classified, allowing the development team
        to fix them easily and help Plugin developers correct errors in their creations.
        Personal information is hidden by default.</h5>
    </div>
    <div class="row center">
        <a href="/submit" id="submit-button" class="btn-large waves-effect waves-light orange">Submit report</a>
    </div>
</div>
{{end}}
{{define "foot"}}{{end}}
