<ul class="nav nav-pills pull-right">
    <li><a href="/" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="/search" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Search"><span class="glyphicon glyphicon-search"></span></a></li>
    <li><a href="/list" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="List reports"><span class="glyphicon glyphicon-list"></span></a></li>
    <li><a href="/submit" class="tooltip-link" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Submit report"><span class="glyphicon glyphicon-plus"></span></a></li>
</ul>
<h3 class="text-muted">
    <img src="http://cdn.pocketmine.net/img/PocketMine-h-64.png" alt="PocketMine" height="24" class="img-middle" style="margin-bottom:10px;"/> Crash Archive
</h3>
