<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills float-right">
            <li class="nav-item">
                <a class="nav-link" href="/" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Home"><span class="fa fa-home fa-2x" aria-hidden="true"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Search"><span class="fa fa-search fa-2x" aria-hidden="true"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list" data-toggle="tooltip" data-container="body" data-placement="bottom" title="List"><span class="fa fa-list fa-2x" aria-hidden="true"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/submit" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Submit"><span class="fa fa-plus fa-2x" aria-hidden="true"></span></a>
            </li>
        </ul>
    </nav>
    <h3 class="text-muted"><img src="http://cdn.pocketmine.net/img/PocketMine-h-64.png" alt="PocketMine" height="24" class="img-middle" style="margin-bottom:10px;"/> Crash Archive</h3>
</div>
