<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Crash Archive</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><span class="fa fa-home fa-2x" aria-hidden="true"></span></a></li>
        <li><a href="/search"><span class="fa fa-search fa-2x" aria-hidden="true"></span></a></li>
        <li><a href="/list"><span class="fa fa-list fa-2x" aria-hidden="true"></span></a></li>
        <li><a href="/submit"><span class="fa fa-plus fa-2x" aria-hidden="true"></span></a></li>
      </ul>
    </div>
</nav>
