{{define "title"}}PocketMine Crash Archive{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Search</span>
		    {{ template "search-box.html" . }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Search by Report ID</span>
                    <form action="/search/id" method="get" role="form">
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="id" type="text" class="validate" id="id-search-id">
                                <label for="id-search-id">Report ID</label>
                            </div>
                        </div>
                        <button type="submit" class="waves-effect waves-light btn" style="margin-top:10px;">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#normal-search').submit(function () {
    $(this)
        .find('input[name]')
        .filter(function () {
            return !this.value;
        })
        .prop('name', '');
});
$('#normal-search-buildtext').on("input", function () {
    $('#normal-search-build-compare').attr("disabled", $(this).val() === "");
});
$('#normal-search-cause').change(function () {
    var found = 0;
    $.each($(this).val(), function(){
        if(this == "core"){
            found++;
        }
        return true;
    });
    $('#normal-search-plugin-name').attr("disabled", found > 0 || $(this).val().length === 0);
});
</script>
{{end}}
{{define "foot"}}{{end}}
