{{define "title"}}#{{ .ReportID}}: {{.Report.Error.Message}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<script type="text/javascript">
    function deleteHandler() {
        if (confirm("Are you sure you want to delete this crashdump?")) {
            $("#redirect-input").val(document.referrer)
            $("#delete-form").submit()
        }
    }
</script>
<div class="fixed-action-btn fab-text-menu">
    <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
    </a>
    <form style="display: none" id="delete-form" action="/delete/{{.ReportID}}" method="post">
        <input type="hidden" id="redirect-input" name="redirect_url" value="#">
        <input type="hidden" name="access_token" value="{{.AccessToken}}">
	{{ .csrfField }}
    </form>
    <ul>
        <li><a href="{{.ReportIssueURL}}" class="btn-floating fab-text-option">Report GitHub issue</a></li>
        <li><a href="/search/report?id={{.ReportID}}" class="btn-floating fab-text-option">Find duplicates</a></li>
        <li><a href="/download/{{.ReportID}}?access_token={{.AccessToken}}" class="btn-floating fab-text-option">Download</a></li>
        <li><a href="/view/{{.ReportID}}/raw?access_token={{.AccessToken}}" class="btn-floating fab-text-option">View raw</a></li>
        <li><a onclick="deleteHandler()" class="btn-floating fab-text-option">Delete</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <h5 class="light truncate" style="line-height: initial">#{{ .ReportID}} {{.Report.Error.Message}}</h5>
            <p>Submitted by {{.Name}}</p>
            <div class="row">
                <div class="col s12 l6">
                    <div class="card-panel">
                        <h3>General information</h3>
                        <table class="borderless">
                            <tbody>
                            <tr>
                                <th>Version:</th>
                                <td>{{.PocketMineVersion}}</td>
                            </tr>
                            <tr>
                                <th>Git commit:</th>
                                <td><a href="{{.GitTreeURL}}">{{ shorthash .Report.Data.General.GIT}}</a></td>
                            </tr>
                            <tr>
                                <th>Plugin involvement:</th>
                                <td>{{pluginInvolvementToString .Report.Data.PluginInvolvement}}</td>
                            </tr>
                            <tr>
                                <th>Report date:</th>
                                <td>{{.Report.ReportDate}}</td>
                            </tr>
                            <tr>
                                <th>Server uptime:</th>
                                <td>{{renderDuration .Report.Data.Uptime}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col s12 l6">
                    <div class="card-panel">
                        <h3>System Information</h3>
                        <table class="borderless">
                            <tbody>
                                <tr>
                                    <th>PHP version:</th>
                                    <td>{{.Report.Data.General.PHP}}</td>
                                </tr>
                                <tr>
                                    <th>JIT status:</th>
                                    <td>{{renderJitMode .Report.Data.JITMode }}</td>
                                </tr>
                                <tr>
                                    <th>Operating system:</th>
                                    <td>{{.Report.Data.General.OS}}</td>
                                </tr>
                                <tr>
                                    <th>System banner:</th>
                                    <td>{{.Report.Data.General.Uname}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <h3>Error information</h3>
                        {{if isDirectPluginCrash .Report.Data.PluginInvolvement}}
                        <div class="card-panel red lighten-2 white-text z-depth-0">
                            Warning: {{if ne .Report.Data.Plugin ""}}the <strong>{{.Report.Data.Plugin}}</strong>{{else}}a{{end}} plugin was directly involved in this crash. Please contact the plugin author.
                        </div>
                        {{else if isIndirectPluginCrash .Report.Data.PluginInvolvement}}
                        <div class="card-panel orange lighten-2 z-depth-0">
                            Warning: {{if ne .Report.Data.Plugin ""}}the <strong>{{.Report.Data.Plugin}}</strong>{{else}}a{{end}} plugin was indirectly involved in this crash. This may be a false positive. Please contact the plugin author before opening a bug ticket.
                        </div>
                        {{end}}
                        <table class="borderless">
                            <tbody>
                                <tr style="word-break: break-all">
                                    <th>Thread:</th>
                                    <td>{{.Report.Data.Thread}}</td>
                                </tr>
                                <tr style="word-break: break-all">
                                    <th>Message:</th>
                                    <td>{{.Report.Error.Message}}</td>
                                </tr>
                                <tr style="word-break: break-all">
                                    <th>File:</th>
                                    <td>{{.Report.Error.File}}</td>
                                </tr>
                                <tr>
                                    <th>Line:</th>
                                    <td>#{{.Report.Error.Line}}</td>
                                </tr>
                                <tr>
                                    <th>Type:</th>
                                    <td>{{.Report.Error.Type}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="card-panel grey lighten-2">
                            {{ $code := sortcode .Report.Data.Code }}
                            <pre class="code-line-numbers">{{ range $linenum, $_ := $code.Lines }}{{add $linenum $code.StartLine}}<br>{{end}}</pre>
                            <pre style="overflow: auto; word-wrap: normal; white-space: pre;"><code>{{range $_, $line := $code.Lines}}{{$line}}<br>{{end}}</code></pre>
                        </div>
                        <div class="card-panel grey lighten-2"><pre style="overflow: auto; word-wrap: normal; white-space: pre;"><code>{{range .Report.Data.Trace}}{{.}}<br/>{{end}}</code></pre></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3>Loaded Plugins</h3>
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li class="">
                            <div class="collapsible-header">Show</div>
                            <div class="collapsible-body collapsible-body-table" style="display: none;">
                                <table class="striped" style="max-width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version</th>
                                            <th>State</th>
                                            <th>Author(s)</th>
                                            <th>Website</th>
                                        </tr>
                                    </thead>
                                    <tbody>{{range .Report.Data.Plugins}}
                                        <tr>
                                            <td>{{.name}}</td>
                                            <td>{{.version}}</td>
                                            <td>{{if .enabled}}Enabled{{else}}Disabled{{end}}</td>
                                            <td>{{$equipment := .authors}}
                                                {{ range $index, $element := .authors}}
                                                {{if $index}},{{end}}
                                                {{$element}}
                                                {{end}}</td>
                                            <td>{{if ne .website ""}}<a href="{{.website}}">Visit</a>{{end}}</td>
                                        </tr>{{end}}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3>Server Settings</h3>
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li class="">
                            <div class="collapsible-header">Show</div>
                            <div class="collapsible-body collapsible-body-table" style="display: none;">
                                <table class="striped" style="max-width:100%">
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                    {{split .Report.Data.ServerProperties}}
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <h3>Installed Composer Dependencies</h3>
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li class="">
                            <div class="collapsible-header">Show</div>
                            <div class="collapsible-body collapsible-body-table" style="display: none;">
                                <table class="striped" style="max-width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody>{{range $k, $v := .Report.Data.General.ComposerLibraries}}
                                        <tr>
                                            <td><a href="https://packagist.org/packages/{{$k}}">{{$k}}</a></td>
                                            <td>{{$v}}</td>
                                        </tr>{{end}}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>Installed PHP Extensions</h3>
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li class="">
                            <div class="collapsible-header">Show</div>
                            <div class="collapsible-body collapsible-body-table" style="display: none;">
                                <table class="striped" style="max-width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Version</th>
                                        </tr>
                                    </thead>
                                    <tbody>{{range $k, $v := .Report.Data.Extensions}}
                                        <tr>
                                            <td>{{$k}}</td>
                                            <td>{{$v}}</td>
                                        </tr>{{end}}
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "foot"}}{{end}}
