<nav
{{if eq .ActiveUserName "anonymous"}}
class="light-blue lighten-1"
{{else}}
class="red"
{{end}}
role="navigation">
    <div class="nav-wrapper" style="height: inherit">
        <div class="container">
            <a href="/" class="brand-logo" style="padding-left: 5px; padding-right: 5px">Crash Archive</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons">home</i></a></li>
                <li><a href="/list"><i class="material-icons">list</i></a></li>
                <li><a href="/submit"><i class="material-icons">upload</i></a></li>
                {{if eq .ActiveUserName "anonymous"}}
                <li><a class="login-button" href="/login"><i class="material-icons right">supervisor_account</i>Login</a></li>
                {{else}}
                <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout "{{.ActiveUserName}}"</a></li>
                {{end}}
            </ul>
        </div>
        <a href="/" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="sidenav" id="mobile-menu">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/list"><i class="material-icons left">list</i>Browse</a></li>
            <li><a href="/submit"><i class="material-icons left">upload</i>Submit</a></li>
            {{if eq .ActiveUserName "anonymous"}}
            <li><a class="login-button" href="/login"><i class="material-icons left">supervisor_account</i>Login</a></li>
            {{else}}
            <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Logout "{{.ActiveUserName}}"</a></li>
            {{end}}
        </ul>
    </div>
</nav>
{{if and (ne .GitHubAppClientId "") (eq .ActiveUserName "anonymous") }}
<script type="text/javascript">
        $(document).ready(function () {
		const url = new URL("https://github.com/login/oauth/authorize")
		url.search = new URLSearchParams({
			"client_id": "{{ .GitHubAppClientId }}",
			"allow_signup": "false",
			"redirect_uri": new URL("/github_callback", window.location.origin).href,
			"state": window.location.href
		})
		$("a.login-button").attr("href", url.href)
        })
</script>
{{end}}
