<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper" style="height: inherit">
        <div class="container">
            <a href="/" class="brand-logo" style="padding-left: 5px; padding-right: 5px">Crash Archive</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/"><i class="material-icons">home</i></a></li>
                <li><a href="/search"><i class="material-icons">search</i></a></li>
                <li><a href="/list"><i class="material-icons">list</i></a></li>
                <li><a href="/submit"><i class="material-icons">add</i></a></li>
            </ul>
        </div>
        <a href="/" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/list">List</a></li>
            <li><a href="/submit">Submit</a></li>
        </ul>
    </div>
</nav>
